<%- include("includes/head.ejs")%>
</head>
<body>
    <%- include("includes/navbar.ejs")%>
    <script>
    const mobileMenu = document.getElementById("mobile-menu");
    const navList = document.querySelector(".nav-list");

    mobileMenu.addEventListener("click", () => {
        navList.classList.toggle("active");
    });
</script>

</body>
</html>
